*{
    padding: 0;
    margin: 0;
}
div{
    width: 80%;
    margin-inline: auto;
    margin: 64px ;
    position: relative;
    transform: translateX(30%);
}
input{
    border-radius: 50px;
    border: 1px solid black;
    width: 50%;
    height: 50px;
    padding-inline: 10px;
}
button{
    border-radius: 157px;
    background-color: #F44A45;
    border: solid #F44A45;
    color: white;
    height: 50px;
    width: 10%;
    cursor: pointer;
}
li{
    font-size: 24px;
    margin: 5px 0;
}